<ion-view view-title="{{mapData.name && mapData.name || 'Map Generator'}}" ng-init="init()">
    <ion-nav-buttons side="left" class="hide"></ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-if="mapData.map"
                class="button button-icon icon-right icon favorite-button"
                ng-class="{'ion-ios-star': starred, 'ion-ios-star-outline': !starred}" ng-click="starToggle()"
        >
        </button>
    </ion-nav-buttons>
    <ion-content class="padding" scroll="false">
        <div class="card" ng-if="!mapData.map">
            <div class="item item-text-wrap">
                <h2>Welcome to <strong>Settlers: Easy Map</strong></h2>
                <p>
                    Please tap the <span class="favorite-button icon ion-shuffle"></span> button to generate a Settlers map.
                    Be your journey full of glory and treason and may the thief be with you.
                </p>
            </div>
        </div>
        <div class="spacer home" ng-if="!mapData.map"></div>
        <div class="canvas-container">
            <map map-data="mapData" generate-thumbnail="true"></map>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button ng-click="generate()" ion-track-tap="generateMap" class="button button-dark button-clear icon icon-right ion-shuffle">
                Generate !
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
