<ion-view view-title="{{mapData.name && mapData.name || 'Map Generator'}}" ng-init="init()">
    <ion-nav-buttons side="secondary">
        <button ng-if="mapData.map && starred" class="button button-icon icon ion-checkmark">
        </button>
        <button ng-if="mapData.map && !starred" class="button button-icon icon ion-star" ng-click="star()">
        </button>
    </ion-nav-buttons>
    <ion-content class="padding" scroll="false">
        <div class="canvas-container">
            <map map-data="mapData"></map>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button ng-click="generate()" class="button button-dark button-clear icon-right ion-shuffle">
                Generate !
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
