<ion-view view-title="Map Generator" ng-init="init()">
    <ion-content class="padding" scroll="false">
        <div class="canvas-container">
            <canvas ng-if="uiDefinition == 'low'" class="canvas">Sorry! Your browser doesn't support Canvas.</canvas>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button ng-click="generate()" class="button button-dark button-clear icon-right ion-shuffle">
                Generate !
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
