<ion-view view-title="Favorites">
    <ion-nav-buttons side="secondary">
        <button
            class="button button-icon icon ion-ios-trash-outline"
            ng-click="toggleDeleteButtons()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in items"
                  class="item-thumbnail-left"
                  href="#/tab/favorites/{{item.id}}">
                <img ng-src="{{::item.thumbnailImageUri}}">
                <h2>{{::item.name}}</h2>
                <p>{{::item.catchPhrase}}</p>
                <p>Harbors: {{::item.harborGenerationPhrase}}</p>
                <p>Fairness: {{::item.fairnessPhrase}}</p>
                <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(item)"></ion-delete-button>
            </ion-item>
        </ion-list>
        <div class="card" ng-if="items.length == 0">
            <div class="item item-text-wrap">
                <h2>Tap <span class="favorite-button icon ion-star"></span> to save a map!</h2>
                <p>Please go to the <a href="#/tab/map">map tab</a>, generate a map and press the star button to save a map as a favorite. You may then come back here to list and manage your favorite maps.</p>
            </div>
        </div>
    </ion-content>
</ion-view>
