<ion-view view-title="Settings">
    <ion-content>
        <ion-list>
            <label class="item item-input item-select">
                <div class="input-label">
                    Map Fairness Level
                </div>
                <select ng-model="selectedTileTrioScoreLimit"
                        ng-change="updateTileTrioScoreLimit()"
                        ng-options="option as option.label for option in tileTrioScoreLimitOptions">

                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Ocean-Harbor tile type
                </div>
                <select ng-model="selectedHarborGenerationStrategy"
                        ng-change="updateHarborGenerationStrategy()"
                        ng-options="option as option.label for option in harborGenerationStrategyOptions">
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    User Interface
                </div>
                <select ng-model="selectedUiDefinition"
                        ng-change="updateUiDefinition()"
                        ng-options="option as option.label for option in uiDefinitionOptions">
                </select>
            </label>
        </ion-list>
    </ion-content>
</ion-view>
