<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.prevostc.settlerseasymap" version="1.1.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Settlers: Easy Map</name>
    <description>
        Generate maps for The Settlers of Catan Board game
    </description>
    <author email="prevostclement@gmail.com" href="https://github.com/prevostc">
        Clément Prévost
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="none"/>
    <preference name="orientation" value="portrait"/>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
    <icon src="icon.png" />
</widget>