/* Empty. Add your own CSS if you like */
.canvas-container {
    height: 100%;
}

.my-image-item{
    left: 0;
    right: 0;
}

.my-image-item img {
    height: 100%;
}

.item-avatar.my-image-item img {
    max-width: 150px;
    max-height: 150px;
}

.list .item:first-child{
    border-top: none;
}

.list .item:last-child {
    border-bottom: none;
}


.ion-star.favorite-button, .ion-star.favorite-button:focus, .ion-star.favorite-button:hover {
    color: rgb(255, 206, 52);
}
.ion-checkmark.favorite-button, .ion-checkmark.favorite-button:focus, .ion-checkmark.favorite-button:hover {
    color: rgb(43, 174, 55);
}

.home.spacer{
    height: 1000px;
}